*{
  margin: 0;
}
.canvas{
  background-color: aliceblue;


}
.pause{
  height: 50px;
  width: 100px;
  position: absolute;
  right: 55%;
  top: 3%;
  background-color: orange;
  color: black;
  border: 1px solid black;
  font-size: 20px;
}
.reset{
  height: 50px;
  width: 100px;
  position: absolute;
  right: 45%;
  top: 3%;
  background-color: orange;
  color: black;
  border: 1px solid black;
  font-size: 20px;

}
.reset:hover{
  cursor: pointer;
}
.pause:hover{
  cursor: pointer;

}
.shoot{
  position: relative;
  bottom: 125px;
  left: 900px;
  width: 400px;
  height: 80px;
  font-size: 72px;

  text-align: center;
  line-height: 2px;
  background-color: #008B8B;
  border: 2px solid black;



}
.shoot:hover{
  cursor: crosshair;
}
.slide{
  position: relative;
}
.select1{
  position: absolute;
  left: 1425px;
  top: 890px;
  background-color: orange;
  border: 2px solid black;

}
